<a href="/admin/manage_users/user/{{user._id}}/edit"><i class="material-icons">autorenew</i></a>


    <div> <!-- Page Content -->
      <h3>Edit user</h3>

      <form class="formEditUser" action="/admin/manage_users/user/{{user._id}}/edit" method="post">
        <div class="input-field col s12">
          <h6>Username:</h6>
          <input type="text" name="newUsername" id="inputNewUsername" value="{{user.username}}">
        </div>
        <div class="input-field col s12">
          <h6>Last updated:</h6>
          <input type="text" name="updatedDate" value="{{user.updated_date}}" readonly>
        </div>
        <div>
          <button type="submit" class="waves-effect waves-light btn">Save</button>
        </div>
      </form>
    </div> <!-- /.Page Content -->
