<a href="/admin/home"><i class="material-icons">autorenew</i></a>

<h3>Admin Homepage</h3>
<h4>Company..</h4>
<div class="adminInfo">
  <ul>
    <li>
      Name: {{admin.name}}
    </li>
    <li>
      Address: {{admin.address}}
    </li>
    <li>
      Telephone: {{admin.telephone}}
    </li>
  </ul>
  <a href="#">Edit</a>
