


    <div class="row"> <!-- Row -->
      <div class="col s3">
        <div class="mainMenu"> <!-- Main menu -->
          <ul>
            <li class="mainMenuLink"><a class="links" href="/admin/home">Home</a></li>
            <li class="mainMenuLink"><a class="links" href="/admin/warehouse">Warehouse</a></li>
            <li class="mainMenuLink activeLink"><a class="links" href="/admin/manage_users">Manage users</a></li>
          </ul>
        </div> <!-- /.Main Menu -->
      </div>

      <div class="col s9"> <!-- Page Content -->
        <h2>Manage users</h2>
        <p> Logged in as: <span class="loggedUser">{{user.username}}</span></p>
        <a href="/logout" class="adminLogoutButton">Logout</a>

        <div>
          <ul id="listOfUsers">
            <!-- Display all registered users -->
          </ul>
        </div>

        <div class="registerForm">
          <h5>Register new user</h5>
          <form action="/register" method="post">
            <div class="input-field col s12">
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-field col s12">
              <input type="password" name="password" placeholder="Password">
            </div>
            <div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
            </div>
          </form>
        </div>


      </div> <!-- /.Page Content -->
    </div> <!-- /.Row -->

  

  <!-- Create basic menu  -->
