<a href="/admin/tables"><i class="material-icons">autorenew</i></a>

<h3>Tables</h3>

<div>
  <form class="tablesForm" action="/admin/table" method="post">
    <input type="number" name="tableNumber" placeholder="Table number.." maxlength="10" autofocus>
    <button type="submit" class="createStorageButton waves-effect waves-light btn">Add</button>
  </form>
</div>
<hr>
<div class="divForTables">
  <ul class="listOfTables collection">
    {{#each tablesResponse.tables as |table|}}
      <li class="tableLabel">
        <a href="/admin/tables/table/{{_id}}" class="collection-item singleTableLabel">
            Table: <span class="singleTableNumber">{{number}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
