<a href="/admin/manage_users/user/{{user._id}}"><i class="material-icons">autorenew</i></a>

<div> <!-- Page Content -->
    <h3>User: <strong>{{user.username}}</strong></h3>

    <div class="singleUserContent">
      <p>Content here...</p>
    </div>

</div> <!-- /.Page Content -->
