
  {{#if user}}

    <div class="row"> <!-- Row -->
    <div class="col s3">
      <div class="mainMenu"> <!-- Main menu -->
        <ul>
          <li class="mainMenuLink"><a class="links" href="/admin/home">Home</a></li>
          <li class="mainMenuLink activeLink"><a class="links" href="/admin/warehouse">Warehouse</a></li>
          <li class="mainMenuLink"><a class="links" href="/admin/manage_users">Manage users</a></li>
        </ul>
      </div> <!-- /.Main Menu -->
    </div>
    <div class="col s9"> <!-- Page Content -->
        <h2>Warehouse</h2>
        <p> Logged in as: <span class="loggedUser">{{user.username}}</span></p>
        <ul id="storageList">
          <!-- For listing all storages -->
        </ul>

        <form class="formCreateStorage" action="/admin/warehouse" method="post">
          <h5>Create storage</h5>
          <div class="input-field col s12">
            <input type="text" name="storageName" placeholder="Storage Name">
          </div>
          <div>
            <button type="submit" class="waves-effect waves-light btn">Create</button>
          </div>
        </form>

        <div>
          <ul id="listOfStorages">
            <!-- Display all created storages -->
          </ul>
        </div>

    </div> <!-- /.Page Content -->
</div> <!-- /.Row -->

  {{else}}
      <h2>You are not logged in and should not be here :(</h2>
  {{/if}}
<ul>

  <!-- Create basic menu  -->
