<a href="/admin/warehouse"><i class="material-icons">autorenew</i></a>


<div> <!-- Page Content -->
  <h3>Warehouse</h3>
  <div class="divForStorageList">
    <ul id="storageList" class="collection storageList">

      {{#each storages as |storage|}}
        <li class="collection-item storageLabel">
          <a href="/admin/warehouse/storage/{{_id}}"><span class="storageLabelName">{{name}}</span></a>
          <a class="storageEditButton waves-effect waves-light btn" href="/admin/warehouse/storage/{{_id}}/edit/">Edit</a>
          <a href="#" data-id="{{_id}}" class="deleteStorageBtn waves-effect waves-light btn">Delete</a>
        </li>
      {{/each}}

    </ul>
  </div>

  <form class="formCreateStorage" action="/admin/warehouse" method="post">
    <h5 class="createStorageHeading">Create storage</h5>
    <div class="input-field col s12">
      <input type="text" name="storageName" id="inputStorageName" placeholder="Storage name" maxlength="25">
    </div>
    <div>
      <button type="submit" class="createStorageButton waves-effect waves-light btn">Create</button>
    </div>
  </form>
</div> <!-- /.Page Content -->
