
  <!-- User can see -->
  {{#if user}}
    <h1>Welcome to Index Page</h1>
    <ul>
      <p> Logged in as: <span class="loggedUser">{{user.username}}</span></p>
      <a href="/logout" class="logoutButton">Logout</a>
    </ul>
  <!-- ./ User can see -->
  {{else}}
      <h2>You are not logged in and should not be here :(</h2>
  {{/if}}
<ul>
