<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
  </body>

</html>
