body {
  background-color: #f4f4f4;
  padding: 50px;
}

.form-control {
  max-width: 300px;
}

.registerForm,
.loginForm {
  width: 50%;
  margin: 0 auto;
}

.loggedUser {
  color: black;
  font-weight: bold;
}

/* Side menu */
