body {
  background-color: #f4f4f4;
  padding: 50px;
}

/* Side menu */
.mainMenu{
  background-color: #d3d3d3;
  min-width: 180px;
  border: 3px solid black;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 10px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.mainMenuLink{
  height: 35px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.links{
  color: black;
  position: relative;
  top: 5px;
  margin-left: 20px;
  font-weight: bold;
  display: block;
}

.activeLink{
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
}

.loggedInAs {
  position: relative;
  top: 0;
  left: 0;
}

.adminBackBtn {
  position: relative;
  top: 0;
  left: 90%;
}

.divForUserList{
  width: 450px;
  position: relative;
  left: -12px;
}

.divForStorageList {
  position: relative;
  left: -12px;
  max-width: 450px;
}

.storageLabel {
  width: 450px;
  height: 50px;
}

.userLabel {
  width: 450px;
  height: 50px;
}

.storageEditButton {
  position: absolute;
  right: 121px;
  margin-top: -3px;
  vertical-align: middle;
  max-height: 34px;
}

.storageDeleteButton {
  position: absolute;
  right: 5px;
  margin-top: -3px;
  vertical-align: middle;
  max-height: 34px;
}

.deleteUserBtn {
  position: absolute;
  right: 5px;
  vertical-align: middle;
  margin-top: -3px;
  max-height: 34px;
}

.form-control {
  max-width: 300px;
}

.formEditStorage {
  max-width: 300px;
}

.loginForm {
  max-width: 300px;
  margin: 0 auto;
}

.formCreateStorage {
  max-width: 200px;
  position: absolute;
  left: 75%;
  top: 25%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.registerForm {
  max-width: 200px;
  position: absolute;
  left: 75%;
  top: 25%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.registerUserHeading {
  text-align: center;
}

.registerUserBtn{
  width: 100%;
}

.createStorageHeading {
  text-align: center;
}

.createStorageBtn {
  width: 100%;
}

.loggedUser {
  color: black;
  font-weight: bold;
}

.adminLogoutButton {
  position: relative;
  left: 80%;
}
