body {
  background-color: #f4f4f4;
  padding: 50px;
}

/* Side menu */
.mainMenu{
  background-color: #d3d3d3;
  min-width: 180px;
  border: 3px solid black;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: -15px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.mainMenuLink{
  height: 35px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.links{
  color: black;
  position: relative;
  top: 5px;
  margin-left: 20px;
  font-weight: bold;
  display: block;
}

.activeLink{
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
}

.loggedInAs {
  position: relative;
  top: 0;
  left: 0;
}

.adminBackBtn {
  position: relative;
  top: 0;
  left: 0%;
}

.divForUserList{
  position: relative;
  left: -45px;
  max-width: 490px;
}

.divForStorageList {
  position: relative;
  left: -45px;
  max-width: 490px;
}

.divForArticleList {
  position: relative;
  left: -45px;
  max-width: 490px;
}

.articleLabelName {
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.storageLabelName {
  font-weight: 600;
  font-size: 17px;
  position: relative;
  top: 14%;
  left: 0;
}

.storageLabel {
  width: 490px;
  height: 50px;
}

.articleLabel {
  width: 490px;
  height: 80px;
  text-decoration: none;
}

.userLabel {
  width: 490px;
  height: 50px;
}

.usernameHighlighted {
  font-size: 16px;
  font-weight: 600;
}

.articleImage {
  position: absolute;
  left: 0%;
  margin-top: -5px;
  margin-left: 5px;
  width: 80px;
  height: 70px;
  background-color: #f4f4f4;
}

.articleDetails {
  position: relative;
  left: 70px;
}

.storageEditButton {
  position: absolute;
  right: 121px;
  margin-top: -3px;
  max-height: 34px;
}

.deleteStorageBtn {
  position: absolute;
  right: 5px;
  margin-top: -3px;
  vertical-align: middle;
  max-height: 34px;
}

.editArticleBtn {
  position: absolute;
  right: -156px;
  margin-top: -30px;
  vertical-align: middle;
  max-height: 34px;
}

.deleteArticleBtn {
  position: absolute;
  right: -273px;
  margin-top: -30px;
  vertical-align: middle;
  max-height: 34px;
}

.previewArticleImage {
  width: 75px;
  height: 55px;
  margin-left: 10px;
}

.userEditButton {
  position: absolute;
  right: 121px;
  margin-top: -3px;
  max-height: 34px;
}

.deleteUserBtn {
  position: absolute;
  right: 5px;
  vertical-align: middle;
  margin-top: -3px;
  max-height: 34px;
}

.form-control {
  max-width: 300px;
}

.formEditStorage {
  max-width: 300px;
}

.formEditArticle {
  max-width: 400px;
}

.searchArticlesForm {
  max-width: 250px;
  max-height: 20px;
  position: relative;
  left: 170px;
  bottom: 50px;
}

.editArticleHeadings {
  font-size: 17px;
  font-weight: 600;
}

.formEditUser {
  max-width: 400px;
}

.loginForm {
  max-width: 300px;
  margin: 0 auto;
}

.formCreateStorage {
  max-width: 200px;
  position: absolute;
  left: 75%;
  top: 36.5%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.inWhichStorage {
  font-weight: 600;
}

.registerForm {
  max-width: 200px;
  position: absolute;
  left: 75%;
  top: 36.5%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.formCreateArticle {
  max-width: 200px;
  position: absolute;
  left: 75%;
  top: 36.5%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.createStorageHeading {
  text-align: center;
}

.createArticleHeading {
  text-align: center;
}

.registerUserHeading {
  text-align: center;
}

.registerUserBtn{
  width: 100%;
}

.createStorageButton {
  width: 100%;
}

.createArticleButton {
  width: 100%;
}

.loggedUser {
  color: black;
  font-weight: bold;
}

.adminLogoutButton {
  position: relative;
  left: 80%;
}
